<% content_for :head do %>
    <link rel="stylesheet" type="text/css" href="assets/utility.css">
    <link rel="stylesheet" type="text/css" href="assets/landing.css">
<% end %>

<% content_for :body do %>
<header class="header group">
    <a href="<%= root_url %>" class="logo group">
        <img class="logo-image" src="https://www.evernote.com/redesign/global/img/elephant.png">
        <h1 class="logo-text">Nevernote</h1>
    </a>
    <div class="start-actions group">
        <ul>
            <li><a href="<%= new_session_url %>">Sign In</a></li>
            <li><a href="<%= new_user_url %>">Sign Up</a></li>
        </ul>
    </div>
</header>
<section class="banner">
    <div class="banner-copy">
        <h1>Remember Everything</h1>
        <p>
            Nevernote makes modern life manageable, by letting you easily collect and find everything that matters.
        </p>
    </div>
    <img id="book" src="http://evernote.com/media/img/homepage-redesign/main-image/travel-books.png">
    <img id="pen" src="http://evernote.com/media/img/homepage-redesign/main-image/travel-pen.png">
    <img id="mac" src="http://evernote.com/media/img/homepage-redesign/main-image/travel-mac.png">
    <img id="phone" src="http://evernote.com/media/img/homepage-redesign/main-image/travel-iphone.png">
    <img id="wallet" src="http://evernote.com/media/img/homepage-redesign/main-image/travel-wallet.png">
</section>
<footer class="footer group">
    <div class="copyright">
        Built by NWJ 2013.
    </div>
    <nav class="legal-nav group">
        <ul>
            <li><a href="#">Terms Of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>
<% end %>
