<h3>Notebooks</h3>

<ul>
  <li>
    <a href="#">All Notes</a>
  </li>
  <% Nevernote.notebooks.each(function(notebook) { %>
  <li>
    <a href="#/notebooks/<%= notebook.get('id') %>">
      <%= notebook.escape('name') %>
    </a>
  </li>
  <% }); %>
</ul>
