<h3>Notebooks</h3>

<ul>
  <li>
    <a href="#">All Notes</a>
  </li>
  <% Nevernote.notebooks.each(function(notebook) { %>
  <li>
    <% var id = notebook.get('id'); %>
    <a href="#/notebooks/<%= id %>">
      <%= notebook.escape('name') %>
    </a>
    <ul>
        <li><a href="#" data-id="<%= id %>" class="rename">Rename</a></li>
    </ul>
  </li>
  <% }); %>
</ul>
