<h3>Notebooks</h3>
<a href="#" class="new-notebook">New Notebook...</a>

<ul>
  <li>
    <a href="#">All Notes</a>
  </li>
  <% Nevernote.notebooks.each(function(notebook) { %>
  <li>
    <% var id = notebook.get('id'); %>
    <a href="#/notebooks/<%= id %>">
      <%= notebook.escape('name') %>
    </a>
    <ul>
        <li>
            <a href="#" data-id="<%= id %>" class="rename-notebook">Rename</a>
        </li>
        <li>
            <a href="#" data-id="<%= id %>" class="delete-notebook">Delete</a>
        </li>
    </ul>
  </li>
  <% }); %>
</ul>
