<h3>Rename Notebook</h3>

<form>
  <label>Notebook name
    <input type="text" name="notebook[name]" value="<%= notebook.get('name') %>">
  </label>

  <button class="cancel">Cancel</button>
  <button class="save">Save</button>
</form>
