<h1>Create a Nevernote Account</h1>

<form action="<%= users_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label for="email">Email address</label>
  <input type="text" name="user[email]" id="email">

  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value="Register">
</form>
