<h3>Tags</h3>

<ul>
  <%= link_to "New Tag...", new_tag_url %>
</ul>

<ul>
  <% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_url(tag) %>
    <ul>
      <li>
        <%= link_to "Rename...", edit_tag_url(tag) %>
      </li>
      <li>
        <%= link_to "Delete", tag_url(tag), method: :delete %>
      </li>
    </ul>
  <% end %>
  </li>
</ul>
