<% current = {notebook_id: params[:notebook_id], note_id: params[:note_id]} %>

<header class="header">
  <div class="account-menu">
    <h3><%= current_user.username %></h3>
    <%= button_to "Log Out", session_url, method: :delete %>
  </div>
</header>

<section class="content">
</section>
