<header class="note-toolbar">
</header>
<header class="note-sub-toolbar">
</header>
<section class="note-content">
    <div class="note-title">
        <%= Nevernote.note.escape('title') %>
    </div>
    <div class="note-body">
        <%= Nevernote.note.escape('content') %>
    </div>
</section>
