<header class="note-toolbar group">
  <ul class="group">
    <li>
        <button class="delete-note group">
            <h3>Info</h3>
            <div class="info"></div>
        </button>
    </li>
    <li>
        <button class="delete-note group">
            <h3>Delete</h3>
            <div class="trash"></div>
        </button>
    </li>
  </ul>
</header>
<header class="note-sub-toolbar">
</header>
<section class="note-content">
    <% var title = Nevernote.note.escape('title') %>
    <div class="note-title">
        <h2><%= title %></h2>
        <input type="text" name="title" value="<%= title %>" class="input hide">
    </div>
    <% var content = Nevernote.note.escape('content') %>
    <div class="note-body">
        <p><%= content %></p>
        <p name="content" class="input hide" contenteditable="true">
            <%= content %>
        </p>
    </div>
</section>
