<h1><%= Nevernote.current === null ? "All Notes" : Nevernote.current.escape('name') %></h1>
<ul>
  <% var notes = Nevernote.current === null ? Nevernote.notes : Nevernote.current.get('notes') %>
  <% notes.each(function(note) { %>
  <li>
    <a href="#/notes/<%= note.get('id') %>">
      <%= note.escape('title') %>
    </a>
  </li>
  <% }); %>
</ul>
