// Place all the styles related to the Homes controller here.
// These must be loaded using content_for :head in the appropriate view.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Main Header*/

header.header {
  background: #4CA52E;
  height: 32px;
}

header.header .account-button {
  float: right;
  border-left: solid 2px #2f793f;
}

header.header .account-button img {
  float: left;
  margin-right: 5px;
}

header.header .account-button img.dropdown-arrow {
  padding: 10px 5px;
}

header.header .account-button h3 {
  float: left;
  color: white;
  margin-right: 10px;
  padding-top: 5px;
}

header.header .account-button form {
  float: left;
}

/*Sub-Header*/

header.sub-header {
  border: solid 1px #b3b3b3;
  padding: 8px;
}

header.sub-header .logo {
  float: left;
}

header.sub-header .logo .logo-image {
  float: left;
  height: 35px;
}

header.sub-header .logo .logo-text {
  float: left;
  text-decoration: bold;
  font-size: 22px;
  padding-top: 3px;
  padding-left: 5px;
  color: #5FB336;
}

header.sub-header button {
  display: block;
  float: left;
  color: white;
  background: #6f7b84;
  padding: 5px 10px;
  font-size: 13px;
  margin-left: 30px;
  margin-top: 3px;
  border-radius: 3px;
}

/*Sidebar*/

#sidebar {
  float: left;
  width: 234px;
  height: 500px;
  border-right: solid 1px #b3b3b3;
}

/*Notes List*/

#notes-list {
  float: left;
  width: 360px;
  height: 500px;
  border-right: solid 1px #b3b3b3;
}

/*Note Detail*/

/*Lightbox*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#lightbox-dialog {
  position: absolute;
  top: 225px;
  left: 275px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 1px solid #a4a4a4;
}

#lightbox-dialog header {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 8px;
}

#lightbox-dialog header h3 {
  float: left;
  font-size: 18px;
  color: #747474;
}

#lightbox-dialog header .cancel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 7px;
  display: block;
  background: white;
  color: #747474;
}

#lightbox-dialog section {
  margin-top: 15px;
}

#lightbox-dialog form label {
  font-size: 13px;
  display: block;
}

#lightbox-dialog form input {
  display: block;
  width: 418px;
  height: 30px;
  padding: 1px 10px;
  margin-top: 10px;
  border: 1px solid #b3b3b3;
  font-size: 13px;
}

#lightbox-dialog form .buttons {
  margin-top: 15px;
  float: right;
}

#lightbox-dialog form .buttons button {
  display: block;
  float: left;
  padding: 6px 35px;
  margin-left: 10px;
  font-size: 13px;
  border-radius: 2px;
}

#lightbox-dialog form .buttons button.save {
  background: #4CA52E;
  border: solid 1px #4c881d;
  color: white;
}

#lightbox-dialog form .buttons button.save:hover {
  background: #569720;
}

#lightbox-dialog form .buttons button.cancel {
  background: #efefef;
  border: solid 1px #a4a4a4;
}

#lightbox-dialog form .buttons button.cancel:hover {
  background: #dfdfdf;
}
