// Place all the styles related to the Homes controller here.
// These must be loaded using content_for :head in the appropriate view.
// You can use Sass (SCSS) here: http://sass-lang.com/


#content { border-bottom: 1px solid #b3b3b3;
}

/*Main Header*/

header.header {
  background: #4CA52E;
  height: 32px;
}

header.header .account-button {
  float: right;
  border-left: solid 2px #2f793f;
  position: relative;
}

header.header .on {
  background: #439228;
}

header.header .account-button img {
  float: left;
  margin-right: 5px;
}

header.header .account-button img.dropdown-arrow {
  padding: 10px 5px;
}

header.header .account-button h3 {
  float: left;
  color: white;
  margin-right: 10px;
  padding-top: 5px;
  font-weight: lighter;
}

header.header .account-button form {
  float: left;
}

header.header ul.account-menu {
  position: absolute;
  top: 33px;
  right: 0;
  background: #f4f6f7;
  border-left: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  width: 150px;
  border-radius: 3px;
}

header.header ul.account-menu li a:hover {
  background: #c9d1d7;
}

header.header ul.account-menu li a {
  display: block;
  padding: 10px 20px;
}

header.header ul.account-menu li a img {
  float: left;
}

header.header ul.account-menu li a h3 {
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  color: #646e71;
}

/*Sub-Header*/

header.sub-header {
  border: solid 1px #b3b3b3;
  padding: 8px;
}

header.sub-header .logo {
  float: left;
}

header.sub-header .logo .logo-image {
  float: left;
  height: 35px;
}

header.sub-header .logo .logo-text {
  float: left;
  text-decoration: bold;
  font-size: 22px;
  padding-top: 3px;
  padding-left: 5px;
  color: #5FB336;
}

header.sub-header button {
  display: block;
  float: left;
  color: white;
  background: #6f7b84;
  padding: 5px 10px;
  font-size: 13px;
  margin-left: 30px;
  margin-top: 3px;
  border-radius: 3px;
}

/*Sidebar*/

#sidebar {
  float: left;
  width: 234px;
  height: 850px;
  border-right: solid 1px #b3b3b3;
  overflow-y: auto;
}

#sidebar a {
  color: #555E64;
  font-size: 12px;
}
#sidebar header {
  background: #e0e5e7;
  padding: 9px 0;
  border-bottom: 1px solid #ced8df;
  position: relative;
}

#sidebar header h2 {
  float: left;
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
  color: #555E64;
}

#sidebar header img.dropdown-button {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

#sidebar ul.sidebar-list {
  padding: 5px 0;
}

#sidebar ul.sidebar-list li {
  position: relative;
}

#sidebar ul.sidebar-list > li > a {
  padding: 5px 0;
  display: block;
  float: left;
  width: 200px;
}

#sidebar ul.sidebar-list > li:hover {
  background: #d1d4d7;
}

#sidebar ul.sidebar-list > li > a > img.icon {
  float: left;
  margin: 0 5px;
}

#sidebar ul.sidebar-list > li > a > h3 {
  float: left;
  overflow: hidden;
  text-overflow: clip;
  max-width: 150px;
  white-space: nowrap;
}

#sidebar ul.sidebar-list > li > img.dropdown-button {
  float: right;
  display: none;
  padding: 5px 5px 5px 0;
  cursor: pointer;
}

#sidebar ul.sidebar-list > li:hover > img.dropdown-button {
  display: block;
}

#sidebar ul.dropdown-menu {
  position: absolute;
  border: 1px solid #b3b3b3;
  z-index: 1;
  top: 75%;
  right: 10px;
  background: #f3f3f3;
  border-radius: 3px;
  padding: 5px 0;
}

#sidebar ul.dropdown-menu > li:hover {
  background: #d1d4d7;
}

#sidebar ul.dropdown-menu > li > a {
  display:block;
  padding: 2px 5px;
  width: 90px;
}


/*Notes List*/

#notes-list {
  float: left;
  width: 360px;
  height: 850px;
  left: 235px;
  border-right: solid 1px #b3b3b3;
  background: white;
}

#notes-list header {
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}


#notes-list header img {
  float: left;
  margin-right: 5px;
}

#notes-list header h1 {
  float: left;
  font-size: 16px;
  color: #6a6a6a;
}

#notes-list ul {
  overflow-y: auto;
  height: 810px;
}

#notes-list ul > li {
  border-bottom: 1px solid #e6e6e6;
}

#notes-list ul > li:hover {
  background: #ecf0f3;
}

#notes-list ul > li > a {
  display: block;
  padding: 7px 10px;
}

#notes-list ul > li > a > .snippet-title {
  color: #404040;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

#notes-list ul > li > a > .snippet-content {
  font-size: 11px;
  height: 40px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

#notes-list ul > li > a > .snippet-content .date {
  color: #4A8DB8;
}

#notes-list ul > li > a > .snippet-content .content {
  color: #1d1d1d;
}

/*Note Detail*/

#note-detail {
  float: left;
  height: 850px;
  width: 650px;
}

#note-detail .note-toolbar {
  border-bottom: 1px solid #e6e6e6;
}

#note-detail .note-toolbar ul {
  float: right;
}

#note-detail .note-toolbar ul li {
  float: left;
}

#note-detail .note-toolbar button {
  color: #7A7D81;
  font-size: 12px;
  text-transform: uppercase;
  background: none;
  padding: 10px;
  outline: none;
}

#note-detail .note-toolbar button:hover {
  color: #525f67;
}

#note-detail .note-toolbar button h3 {
  float: left;
  margin-right: 3px;
}

#note-detail .note-toolbar button img {
  float: left;
}

#note-detail .note-toolbar button div {
  float: left;
  height: 16px;
  width: 16px;
}

#note-detail .note-toolbar button div.info {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA0UlEQVR42mNgGHRg1apVbMtWr89dvnr9MSD+DMXHQGIgObyal6xdK7Ni9fpLQA3/sWGQHEgNTpvRNS9ZudZ6+eoNVuiGbNu2jR3DAKiz0WzdYLVs1TpLDPGV6/IwDID6+T9ReM2G49gM+IysCCGO6gUo/kzQAKDG62CvrVmjQZwBQGehKFq7sQksvnJtLVFeQA/EJas26ILEsUXr0lXr84mIxg1WSN5Dsn395fnz53PgTEggBbhDf/1lnAkJBkCmg5wIDRNIUgaygV4swGnzgAIA2Mpbrwd5idkAAAAASUVORK5CYII=)
    no-repeat
    left center;
}

#note-detail .note-toolbar button:hover div.info {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAxklEQVR42mNgGHQgNDSULSguPTcwPv0YkP4MwlB2LkgOr+ag6BQZoOJLQfHp/7FhsBxQDU6bMTVnWPvHpFqhG+KZm8uOaTvQieg2gjQHxqVbYrokLQ/DALA/cTgdCz6OzQWfkRXBxNG9AMZAtQQNAOLrIPHghDQN4gwAOgtVUUYTxOC0WmK9gBKI/glputCwwYjWgLj0fILRCPI7kuuQnX85ISGBA2dCAinAGfogOVwJCQZApoOcCA4TaFIGs2PTCnDaPKAAAKnX6Z8csetKAAAAAElFTkSuQmCC)
    no-repeat
    left center;
}

#note-detail .note-toolbar button div.trash {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuklEQVR42mNgwAGmzZp9ZNrMWf+R8FEGUgBIEz4+VjB1xuy46bNmrQQqPg+19S+U/gelTwHl50+bOTMep63EYuwumD4rAWjD6mmzZl2cNnP2G6DCb1AN38B8oDhYfsaMRHzeCAHRM2fOlJw7dy4vWGzqVJ5J8+aJzpgxQx9oSTRRgYfD6VcJBiayAfjoUQNobcD0mbPmgmhg/Esg08DEtJgIA2ZmAxXtBip+BKQ/Q+P/M5S/GyTPQE0AAOsgDqnmYoq/AAAAAElFTkSuQmCC)
    no-repeat
    left center;
}

#note-detail .note-toolbar button:hover div.trash {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAv0lEQVR42mNgwAGC4tOPAPF/OI7LOMpACgBpwsfHCgLj0+OAeCUQn4fa/BdEB8al/4PwM04B6fmBcWnxOG0lFmM3ICEjASi5Oig+7SKQfhMUl/4N4n8w/QYqvhrowkTcfo9LDwHTMWmSfklJvCB2aGgWT2hiomhgTLp+YHxGNFGBh83ZQJuvEgxMZAPw0aMG0NqAwLiMuSA6NCFLApkGRuNiggYExqdlA9P8bqDiR8BE9RmaEj+D+WDxtGwGagIAo3zHUGhlAFQAAAAASUVORK5CYII=)
    no-repeat
    left center;
}

#note-detail .note-content-wrapper {
  overflow-y: auto;
}

#note-detail .note-content {
  margin: 15px;
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

#note-detail .note-content p {
  min-height: 260px;
  outline: none;
}


#note-detail .note-content .note-title {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 15px;
  color: #7B7C7E;
}

#note-detail .note-content .note-title input {
  border: 0;
  width: 100%;
  font-size: 15px;
  color: #7B7C7E;
  margin: 0;
  padding: 0;
  outline: none;
}

#note-detail .note-content .note-body {
  margin: 20px;
  font-size: 14px;
}

/*Lightbox*/

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#lightbox-dialog {
  position: absolute;
  top: 225px;
  left: 275px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 1px solid #a4a4a4;
}

#lightbox-dialog header {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 8px;
}

#lightbox-dialog header h3 {
  float: left;
  font-size: 18px;
  color: #747474;
}

#lightbox-dialog header .cancel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 7px;
  display: block;
  background: white;
  color: #747474;
}

#lightbox-dialog section {
  margin-top: 15px;
}

#lightbox-dialog p {
  font-size: 13px;
  width: 418px;
}

#lightbox-dialog form label {
  font-size: 13px;
  display: block;
}

#lightbox-dialog form label input {
  margin-top: 10px;
}

#lightbox-dialog form label.text input {
  display: block;
  width: 418px;
  height: 30px;
  padding: 1px 10px;
  border: 1px solid #b3b3b3;
  font-size: 13px;
}

#lightbox-dialog form .buttons {
  margin-top: 15px;
  float: right;
}

#lightbox-dialog form .buttons button {
  display: block;
  float: left;
  padding: 6px 35px;
  margin-left: 10px;
  font-size: 13px;
  border-radius: 2px;
}

#lightbox-dialog form .buttons button.save {
  background: #4CA52E;
  border: solid 1px #4c881d;
  color: white;
}

#lightbox-dialog form .buttons button.save:hover {
  background: #569720;
}

#lightbox-dialog form .buttons button.cancel {
  background: #efefef;
  border: solid 1px #a4a4a4;
}

#lightbox-dialog form .buttons button.cancel:hover {
  background: #dfdfdf;
}
