// Place all the styles related to the Landing controller here.
// These must be loaded using content_for :head in the appropriate view.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.header {
  height: 88px;
  padding: 22px 16px;
}

.header .logo {
  float: left;
}

.header .logo .logo-image {
  float :left;
  height: 44px;
}

.header .logo .logo-text {
  float :left;
  text-decoration: bold;
  font-size: 30px;
  padding-top: 5px;
  padding-left: 3px;
  color: #5FB336;
}

.header .start-actions {
  float: right;
}

.header .start-actions ul {
  margin-top: 12px;
}

.header .start-actions li {
  float: left;
  list-style: none;
}

.header .start-actions li a {
  color: #696969;
  font-size: 13px 
}

.header .start-actions li:last-child {
  margin-left: 15px;
}

.header .start-actions li:last-child a {
  background: #5FB336;
  color: #fff;
  padding: 7px 10px;
  border-radius: 5px;
}

section.banner {
  position: relative;
  padding-bottom: 600px;
}

section.banner .banner-copy {
  width: 540px;
  margin: auto;
  margin-top: 32px;
}

section.banner .banner-copy h1 {
  color: #5FB336;
  font-size: 48px;
  text-align: center;
  padding-bottom: 10px;
}

section.banner .banner-copy p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #757778;
}

section.banner img {
  position: absolute;
}

section.banner img#book {
  top: 100px;
  left: -125px;
}

section.banner img#pen {
  top: 300px;
  left: 300px;
}

section.banner img#mac {
  top: 150px;
  left: 22%;
}

section.banner img#phone {
  top: 350px;
  right: 150px;
}

section.banner img#wallet {
  top: 100px;
  right: -100px;
}

footer.footer {
  margin: 0px 15px;
  border-top: solid #c2c2c2 1px;
  padding-top: 20px;
  padding-bottom: 25px;
}

footer.footer .copyright {
  float: left;
  margin-right: 40px;
  font-size: 12px;
  color: #696969;
}

footer.footer .legal-nav {
  float: left;
}

footer.footer .legal-nav ul {
  list-style: none;
}

footer.footer .legal-nav li {
  float: left;
}

footer.footer .legal-nav li a {
  color: #696969;
  font-size: 12px;
}

footer.footer .legal-nav li:after {
  content: "•";
  color: #696969;
  margin: 0px 10px;
}

footer.footer .legal-nav li:last-child::after {
  content: " ";
}
