// Place all the styles used across controllers here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Reset user agent styles */

html, body, header, footer, section, article, aside, div, p, ul, ol, li, h1, h2, h3, a, img, button, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Set basic elements */

body {
  font-family: sans-serif;
  background: #f3f3f3;
  color: #3b3b3b;
}

ul {
  list-style: none;
}

a {
  color: #4a8db8;
  text-decoration: none;
}

img {
  display: block;
}

button:hover {
  cursor: pointer;
}

/* Helper methods (clearfix) */

.group:after {
  content: "";
  clear: both;
  display: table;
}

.hide {
  display: none;
}
