<header class="sub-header group">
  <div class="logo group">
      <img class="logo-image" src="https://www.evernote.com/redesign/global/img/elephant.png">
      <h1 class="logo-text">Nevernote</h1>
  </div>
  <button id="new-note">+ New Note</button>
</header>

<section id="sidebar">
</section>

<section id="notes-list">
</section>

<section id="note-detail">
</section>

<aside id="lightbox">
</aside>
