<header class="group">
    <h3>Delete Tag</h3>
    <button class="cancel">x<button>
</header>
<section>
    <form>
        <p>
            Permanently deleting "<%= tag.escape('name') %>".
            This operation cannot be undone.
        </p>

        <div class="buttons">
            <button class="cancel">Cancel</button>
            <button class="save">Delete</button>
        </div>
    </form>
</section>
